.large{
  composes: large from "./Home.module.css";
  background: linear-gradient(132deg, #903ad6, #8726e7);
  color: white;
  display: inline-flex;
  margin-top: 25px;
  margin-left: 25px;
  text-align: center;
  padding: 45px;
}