.nav{
  display: flex;
  list-style-type: none;
  padding: 10px;
}
.link{
  color: white;
  padding: 15px 15px;
  background-color: #745fb5;
  display: block;
  margin-left: 30px;
}
.active{
  /* color: #34425a; */
  color: #ec223d;
}